
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#energy-label {
    position: absolute;
    top: 0.5em;
    left: 1em;
}

#equation-label {
    position: absolute;
    top: 0;
    right: 1em;
}

#symbol-container svg {
    position: absolute;
    top: 0;
    left: 0;
}

.fade-in {
    opacity: 0;
}

.fade-in.shown {
    opacity: 1;
    animation: fadein 1s;
}

#canvas {
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0 }
    to   { opacity: 1 }
}
