
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#energy-label {
    position: absolute;
    top: 0.5em;
    left: 1em;
}

#equation-label {
    position: absolute;
    top: 0;
    right: 1em;
}

#symbol-container svg {
    position: absolute;
    top: 0;
    left: 0;
}

#simulation-label {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-size: 2em;
}

#system-modal {
    position: absolute;
    display: none;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition-property: display;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

#system-modal.shown {
    display: flex;
}

#system-modal-content {
    margin: 0 auto;
    overflow: auto;
    background-color: #CCC7;
    backdrop-filter: blur(3px);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    font-size: 1.25em;
    max-height: 80vh;
}

#system-file {
    margin: 0.5em 0;
    font-family: monospace;
    white-space: pre-wrap;
}

#modal-toggle {
    position: absolute;
    top: 3em;
    left: 1em;
}

.fade-in {
    opacity: 0;
    display: none;
    transition-property: opacity, display;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

.fade-in.shown {
    opacity: 1;
    display: block;
}

@starting-style {
    .fade-in.shown {
        opacity: 0;
    }
}

#energy-bar {
    position: absolute;
    left: 2em;
    top: 20%;
    bottom: 2em;
    width: 2em;
    background-color: #AAA;
    border: 2px solid black;
    overflow: hidden;
}

#kinetic-bar {
    width: 100%;
    background-color: #EEE;
}

#energy-bar-label {
    position: absolute;
    left: 1em;
    top: calc(20% - 2em);
}

.color-label {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 2px solid black;
    margin-bottom: -2px;
}

#playback-container {
    position: absolute;
    right: 2em;
    bottom: 4em;
    display: flex;
    gap: 0.5em;
}

.playback-button {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
